* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    width: 40%;
    margin: 0 auto;
}

a img {
    width: 150px;
    height: 150px;
    position: relative;
    top: 100%;
    display: flex;
    justify-content: center;

}

header {
    /* margin-left: 600px; */
}

.narx_ {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
}

.rx {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.narx_ {
    background-color: #f2f2f2;
}

.narx_ {
    transition: background-color 0.3s ease;
}

.narx_:hover {
    background-color: #ddd;
}

.narx_ h2 {
    margin: 0;
    padding: 10px;
}

.narx_ p {
    margin: 0;
    padding: 10px;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #666;
}